@media (prefers-color-scheme: dark) {
  body{
    /* color: #FFF; */
    color: #d3d4d4;
  }
  .article{
    background-image: none;
    background-color: #212121;
  }
  #toc.toc2 {
    background-color: #424242;
  }
  #content h2, #content h3{
    /* color: #ff5353; */
    color: #ec5535;
  }

  a {
  /* color: #a7cbe2; */
  color: #a3c1ef;
  color: #9CD7F7;
  }
  a:hover{
    /* color:#9CD7F7; */
    color:#23527c;
  }

  #header>h1:nth-last-child(2){
    color: #FFF;
  }

  #toctitle{
    color:hsla(8, 67%, 66%, 1);
  }

  .sidebarblock{
    background-color:#806e1e;
  }
  .sidebarblock.note{
    background-color: #6a7330;
  }

}
