@media (prefers-color-scheme: dark) {

  :root {
    --image-filter: grayscale(50%);
    --background-color:#212121;
    /* --heading-color: #ec5535; */
    --heading-color: #ce6955;
    --text-color: #d3d4d4;
    --link-color:#9CD7F7;
    --link-hover-color:#55bbf1;
    --table-odd-background:#42481e;
    --table-even-background:#00000000;
  }


  body{
    color: var(--text-color);
  }

  .article{
    background-image: none;
  }

  #header>h1:nth-last-child(2){
    color: #FFF;
  }

  #header>h1:first-child {
    color: #FFF;
  }

  #header .details span:first-child {
    color: #CCC;
  }

  #toctitle{
    color:hsla(8, 67%, 66%, 1);
  }

  .paragraph.lead>p, #preamble>.sectionbody>[class="paragraph"]:first-of-type p::first-letter {
    float: left;
    font-family: Solberry;
    font-size: 10em;
    color: #FFF;
    line-height: .8em;
  }

  .sidebarblock, .admonitionblock {
    background-color:#806e1e;
    box-shadow: 0 0 6px #080702;
  }
  .sidebarblock.note, .admonitionblock.note {
    background-color: #6a7330;
    box-shadow: 1px 4px 14px #000;
  }

  .sidebarblock.fancy {
    background-color:#595959;
    border-image-source: url(../assets/images/fancydndbox-night.svg);
  }

  .admonitionblock>table td.content{
    color:var(--text-color);
  }

  .admonitionblock td.icon [class^="fa icon-"]{
    filter:invert();
  }

  .admonitionblock td.icon .icon-note::before{
    color:#fff;
  }

  .admonitionblock td.icon .icon-tip::before {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    color:#fff;
  }


  .quoteblock p{
    color:var(--text-color);
  }

  .sect1+.sect1 {
    border-top: 1px solid #808080;
  }

  img:not([src*=".svg"]) {
    filter: var(--image-filter);
    opacity: .75;
  }

  img:hover {
    opacity: 1;
  }

  @media screen and (min-width:768px){
    #toc.toc2 {
      background-color: #424242;
    }
  }

}
