@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700&display=swap&subset=latin-ext');

/* my rules here */
:root {
  --heading-color:#58180D;
  --background-color:#EEE5CE;
  --text-color:#000;
  --link-color:#3a74b6;
  --link-hover-color:#2a5484;
  --table-odd-background:#e0e5c1;
  --table-even-background:transparent;
}

.article {
  background-color:var(--background-color);
  background-image:url("../assets/images/background-image.jpg");
}

body{
  color:var(--text-color);
}

#content{
  font-family: BookSanity;
}

a {
  color: var(--link-color);
}

a:hover{
  color: var(--link-hover-color);
}

.paragraph.lead>p, #preamble>.sectionbody>[class="paragraph"]:first-of-type p::first-letter {
    float: left;
    font-family: Solberry;
    font-size: 10em;
    color: #222;
    line-height: .8em
}

p, blockquote, dt, td.content, span.alt {
    font-size: 1.0625em;
}

.hdlist p, .hdlist td{
  margin-bottom:0em;
  padding: 0px;
}

.hdlist p{
  margin-left: 5px;
}

.paragraph>p {
  margin: 0 auto;
}

.paragraph + .paragraph {
  text-indent: 1em;
}

.paragraph>.title{
  font-family: Booksanity;
  display: inline;
  font-weight: 600;
  font-style: italic;
  font-size: 1em;
  color:var(--text-color);
}

.paragraph>.title::after{
  font-family:BookSanity;
  display: inline;
  content: ".";
  font-style: bold;
  color:var(--text-color);
}

.title + p{
  display: inline;
}

.friend::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: " \f007";
}

ul>li p, ol>li p{
  margin-bottom:1px;
}

table {
    margin-bottom: 0;
}

blockquote {
  max-width: 450px;
}


#content pre+.quoteblock, #content h2+.quoteblock, #content h3+.quoteblock, #content h4+blockquote, #content h5+.quoteblock {
    margin-top: 13px
}

#content pre+.sidebarblock, #content h2+.sidebarblock, #content h3+.sidebarblock, #content h4+blockquote, #content h5+.sidebarblock {
    margin-top: 13px
}

#content pre+.admonition, #content h2+.admonition, #content h3+.admonition, #content h4+blockquote, #content h5+.admonition {
    margin-top: 13px
}

.quoteblock ul>li p, .quoteblock ul>li, .sidebarblock ul>li, .admonitionblock ul>li{
  margin-bottom:0px;
  line-height:1em;
}

.quoteblock p{
  margin-bottom: 0.4em;
  line-height: 1.1;
  font-family: 'Libre Baskerville';
  font-style: italic;
  line-height: 1.6em;
}

.quoteblock .attribution, .verseblock .attribution{
  font-style: normal;
}


.sidebarblock.note, .admonitionblock.note {
    font-family: ScalySans;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: 5px 10px;
    background-color: #e0e5c1;
    border-style: solid;
    border-width: 11px;
    border-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAANlBMVEX///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABHL6OuAAAAEXRSTlMABAwYJDRIXHSLo7fL2+fz+6go4VUAAAB6SURBVHgB7dg5DsJQAANRZ9+Xuf9lQUKKEHT5LlL4HWB6W5d61m1zrT/dhm5j6/RjPCkJco761ixQFoSl0aXfKQ+y9/qoJnAEYar01q64gqytNBz4ghyDMPMHnyYiIiIiIgIzYeYfj/Z56x3g7ovAf2L4bxb/EWS/ql7LZCDx/Ry3RwAAAABJRU5ErkJggg==) 11;
    border-image-outset: 9px 0;
    box-shadow: 1px 4px 14px #888;
}

.quoteblock blockquote::before {
  content: "";
}

/*Title in Quotes*/
.quoteblock .ulist>.title {
  font-family: ScalySansSmallCaps;
  color: black;
}
/*Title in the quote block*/
blockquote>.paragraph>.title, table.tableblock>.title, .sidebarblock>.content>.title{
  font-family: ScalySansSmallCaps;
  color: black;
  font-size: 1em;
  font-weight: 900;
  text-align: left;
}

.quoteblock p, .quoteblock ul, .admonitionblock p, .sidebarblock p{
    font-size: .83em;
}

/*Called Descriptive in Homebrewery*/
.admonitionblock, .sidebarblock{
    display: block-inline;
    margin-bottom: 1em;
    background-color: #faf7ea;
    font-family: ScalySans;
    border-style: solid;
    border-width: 7px;
    border-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAFAAAAA8CAMAAADG+c2+AAAAM1BMVEUAAAAAAAAAAAAkAAA1GwA0GgA5GgA5GwA4HgA7HgA5HgA7HgA7HwA7HgA8HgA7HgA8HwDn6RpAAAAAEHRSTlMAAQcHMDExQ1ZW1dXY3t7+02zZCAAAAKNJREFUWMPt2LEOwyAMBNCkSXGpKfb/f20G3AGUiWOJdNlueYrt6di2J3xHrmZF9mVCdnd3T/NgCO+ItUWdB0P4RrQWfR4chOVggUcu/cgCH0X6o+ynuivg3QjIAm8FggQJEiRIkCBBggQJEoTApO56An15EFIrVgJ4vaAtlnlwEKKbGrLATlgOxg9XeORfv9IMH+Xzb7tSzGo+gL7chNcjXpUulIwXVrjWS+0AAAAASUVORK5CYII=") 12 stretch;
    border-image-outset: 5px;
    box-shadow: 0 0 6px #faf7ea;
    /* max-width: 60%; */
    border-radius:0px;
}
#content .admonitionblock p, .adimontionblock>td.content {
    display: block;
    padding-bottom: 0;
    line-height: 1.5em;
}
#content .admonitionblock p+p {
    padding-top: .8em;
}
#content .admonitionblock em {
    font-family: ScalySans;
    font-style: italic;
}
#content .admonitionblock strong {
    font-family: ScalySans;
    font-weight: 800;
    letter-spacing: -0.02em;
}
#content pre+.admonitionblock {
    margin-top: 8px;
}

/*Headings*/
#header>h1, #content h1, h2, h3, h4 {
    margin-top: 1rem;
    margin-bottom: .2em;
    font-family: MrJeeves;
    color: var(--heading-color);
}

h2{
}

h3{

}

h4{
  margin-bottom: 0em;
  font-size: 1.2em;
  font-weight: 400;
}

#header>h1:nth-last-child(2){
  color:var(--heading-color);
}

.paragraph.lead>p, #preamble>.sectionbody>[class="paragraph"]:first-of-type p {
  color: var(--text-color);
}

h3{
  border-bottom: 2px solid #c9ad6a;
}

table.tableblock {
    font-family: ScalySans;
    /* max-width: 60%; */
    margin-bottom: 1em;
    font-size: 10pt;
    background: var(--table-even-background);
}

.tableblock em {
    font-family: ScalySans;
    font-style: italic
}

.tableblocktable strong {
    font-family: ScalySans;
    font-weight: 800;
    letter-spacing: -0.02em
}

.tableblock thead {
    display: table-row-group;
    font-weight: 800;
    background: transparent;
}

.tableblock thead th {
    vertical-align: bottom;
    padding-bottom: .3em;
    padding-left:0.1em;
    padding-right:0.1em;
    color:var(--text-color);
}

.tableblock tbody tr td {
    padding: .3em .1em
}

.tableblock tbody tr:nth-child(odd) {
    background-color:var(--table-odd-background);
}

table tr th, table tr td {
  color:var(--text-color);
}


.admonitionblock td.content>.title, .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title,  .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title, .dlist>.title, .olist>.title, .ulist>.title, .qlist>.title, .hdlist>.title{
  font-family: ScalySansSmallCaps;
  color: var(--text-color);
  font-size: 1em;
  font-weight: 900;
  text-align: left;
  font-style: normal;
}

.admonitionblock>table td.content {
  border-left: 1px solid #000000;
  color: var(--text-color);
}

.sidebarblock.fancy {
    margin-top: 53px;
    margin-bottom: 40px;
    padding:0.2em;
    border-collapse: separate;
    background-color: white;
    border: initial;
    border-style: solid;
    border-image-outset: 25px 10px;
    border-image-repeat: stretch;
    border-image-slice: 34 33 33;
    border-image-source: url(../assets/images/fancydndbox-day.svg);
    border-image-width: 57px;
}

.sect1+.sect1 {
    border-top: 1px solid #3d3d3d;
}

@media screen and (min-width:768px){
  .sidebarblock, .admonitionblock{
    max-width: 60%;
  }

  .sidebarblock.fancy{
    max-width: 100%;
  }
}

@media screen and (min-width:1280px){
  .sidebarblock.fancy{
    max-width: 90%;
  }
}


@media screen and (max-width:700px) {

  body{
    font-size: 1.3em;
  }

  .tableblock table, tr, td {
    padding:0;
  }

  .tableblock table {
    border:none;
  }

  .tableblock thead {
    display:none;
  }

  .tableblock tr {
    float: left;
    width: 100%;
    margin-bottom: 2em;
  }

  .tableblock td {
    float: left;
    width: 100%;
    padding:1em;
    text-align: center;
  }

  .tableblock.js-table-data td::before {
    content:attr(data-label);
    width: 40%;
    float:left;
    font-size:1.5em;
    font-weight: bold;
    text-align: center;
  }

  p.tableblock:last-child {
    font-size: 1.5em;
    display:grid;
  }

  .sidebarblock.fancy {
    margin-top: 111px;
    margin-bottom: 40px;
    padding: 1.2em;
    margin-left: 1.2em;
    margin-right: 1.2em;
    background-color: white;
    border-style: solid;
    border-image-outset: 52px 22px;
    border-image-slice: 34 33 33;
    border-image-source: url(../assets/images/fancydndbox-day.svg);
    border-image-width: 124px;
  }

  .audioblock>.title, .exampleblock>.title, .imageblock>.title, .listingblock>.title, .literalblock>.title, .stemblock>.title, .openblock>.title, .quoteblock>.title, table.tableblock>.title, .verseblock>.title, .videoblock>.title,  .qlist>.title, .hdlist>.title{
    font-size: 1.3rem;
  }

  .admonitionblock td.content>.title, .admonition .dlist>.title, .olist>.title, .ulist>.title, .paragraph>.title{
    font-size: 1em;
  }

}
